
.container{
    width: 90vw;
    margin: auto;
}

.banner-right-left-box-container{
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-around;

}

.course-guide-whatsapp{
    background:#25d366;
    color:#fff;
    border:1px solid #25d366;
    margin:17px;
    font-weight:700;
    font-size:18px;
    transition:.3s;
    text-decoration:none;
    border-radius:6px;
    margin:10px 0;
    text-align:center;
}

.course-ratings .course-ratings-stars i{
    color: #ffcb33;
    font-size: 15px;
    margin-right: 3px;
}

.fa-star:before {
    content: "\f005";
}

.speciality {
    margin-top: 15px;
}

.speciality .speciality-heading h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFC000;
    margin-left: 120px;
    position: relative;
}

.speciality .speciality-heading h2::before {
    content: '';
    width: 114px;
    height: 1px;
    background: #ff5421;
    position: absolute;
    left: -116px;
    top: 8px;
}
.speciality .speciality-heading h2::after {
    content: '';
    width: 81rem ;
    height: 1px;
    background: #ff5421;
    position: absolute;
    top: 8px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}

ul {
    list-style: none
}

a:hover {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif
}

h1,
h2,
h1,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: inherit
}

.heading {
    text-align: center
}

.heading h3 {
    display: inline-block
}

button:disabled {
    cursor: not-allowed
}

p,
span {
    margin: 0;
    padding: 0;
    font-family: inherit;
   
  
}

button {
    outline: none !important
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #495057 !important
}




.button1 {
    margin: auto;
    display: block;
    padding: 10px 24px;
    border: none;
    background: linear-gradient(45deg, #F48631, #FB6D45);
    color: #fff;
    border-radius: 4px;
    height: 46px
}

.button1 i {
    margin-left: 10px
}

.button2 {
    border: 1px solid #fa872a;
    color: #FA872A;
    background: transparent;
    width: 50% !important;
    border-radius: 4px;
    height: 46px;
    margin: 0 5px;
}

.button-intro {
    border: 1px solid #fa872a;
    color: #FA872A;
    background: transparent;
    width: 50% !important;
    border-radius: 4px;
    height: 46px;
    margin: 0 5px;
}

.key-feature-container{
    display: flex;
    justify-content: space-around;
}

.button3 {
    color: #fff;
    /* font-size: 17px; */
    background: #fa872a;
    border: none;
    font-weight: 400;
    padding: 0px 14px;
    width: 50% !important;
    border-radius: 4px;
    margin: 0 5px
}

.button3 a {
    color: #fff
}

.Placement-training {
    padding: 0;
    flex-wrap: nowrap;
    display: flex;
    height: 65px;
    justify-content: space-between
    0 10rem 0 0rem !important;
}




.header-top {
    background: #293b3f;
    height: 34px
}

.header-top-links {
    text-align: center;
    padding: 4px 0
}

.header-top-links a {
    color: #fff;
    margin-right: 17px;
    text-decoration: none
}

.header-top-links a i {
    font-size: 13px;
    color: #666
}

.header-top-links a img {
    width: 17px;
    margin-right: 5px
}

.header-top-links a span {
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle
}

.header-user {
    padding: 2px 0
}

.header-user a {
    color: #fff;
    float: right;
    margin-top: 3px
}

.header-top-links a:hover span {
    padding-bottom: 8px;
    border-bottom: 2px solid #f8981d;
    transition: all 40ms
}

.header {
    background: #063455;
    height: 60px
}














.course-banner {
    background: #f7fafe;
    color: #040404;
    padding-top: 15px;
    padding-bottom: 15px
}

.breadcrumbs p a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 1px
}

.course-banner-sections-left .banner-heading {
    margin-top: 15px;
    margin-bottom: 15px;
}

.course-banner-sections-left .sub-heading {
   
    margin-bottom: 20px
}

.course-banner-sections-left .sub-heading p {
    font-size: 17px;
    font-weight: 500;
    width: 34rem;
}

.course-banner-sections-left .course-ratings {
    display: flex;
    margin-top: 13px;
    align-items: center
}

.course-ratings .course-ratings-stars {
    width: 100%
}

.course-google-rating {
    margin-right: 25px !important;
    letter-spacing: 1px;
    display: flex;
    align-items: center
}

.course-ratings div strong {
    font-weight: 600;
    font-size: 15px
}

.course-ratings .course-ratings-stars i {
    color: #ffcb33;
    font-size: 21px;
    margin-right: 14px;
    margin: 2px 14px 0px 0;
}

.course-google-rating img,
.course-facebook-rating img,
.course-sulekha-rating img,
.course-justdial-rating img {
    width: 26px !important;
    height: 26px !important;
}

.rating-img .course-google-rating img {
    margin-right: 5px !important;
   
}

.course-video p {
    width: 290px;
    background: #000;
    padding: 7px;
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer
}

.course-ratings .course-ratings div a {
    text-decoration: none;
    display: flex
}

.course-ratings div span {
    font-size: 18px !important;
    color: #fff
}

.course-ratings .rating-img {
    display: flex
}

.course-banner-line {
    
        margin-top: 32px;
        margin-bottom: 25px;
        width: 722px;
        background: #ff5421;
        height: 2px;
    
}

.course-desc {
    display: flex;
    margin-bottom: 23px
}

.course-desc div p {
    font-size: 12px;
    font-weight: 500;
    width: 13rem;
}

.course-desc div strong {
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 1px
}

.course-video {
    text-align: center;
    position: relative;
}

.course-video img {
    height: 30rem !important;
    width: 40rem !important;
  }



  @media only screen and (max-width: 900px){

  



    .course-ratings div span {
        font-size: 13px !important;
        color: #fff
    }

    .course-ratings .course-ratings-stars i {
        color: #ffcb33;
        font-size: 15px !important;
        margin-right: 3px !important;
    }

    .course-video img {
      height: 100% !important;
      width: 100% !important;
  }


  .course-google-rating img,
  .course-facebook-rating img,
  .course-sulekha-rating img,
  .course-justdial-rating img {
      width: 14px !important;
      height: 15px !important;
  }
  
  .rating-img .course-google-rating img {
      margin-right: 1px !important;
      margin: 0 0px 0 4px !important;
  }


  .course-google-rating {
    margin-right: 10px !important;
    letter-spacing: 1px;
    display: flex;
    align-items: center
}

}

.course-video .videowatch {
    position: absolute;
    top: 42%;
    right: 0;
    width: 175px;
    cursor: pointer
}

.speciality {
    margin-top: 15px;
}






.speciality-list {
    display: flex;
    justify-content: space-between
}

.speciality-list .speciality-items {
    width: 247px;
    display: flex;
    margin-top: 10px;
    border: 1px solid #ffffff38;
    justify-content: space-evenly;
    padding: 8px 10px;
    border-radius: 6px;
    align-items: center
}













.nav-items h3,
.bottom-slide h3 {
    font-size: 1rem;
    letter-spacing: .3rem;
    opacity: .6
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    align-items: center
}

.items-container .enroll {
    margin-right: 0;
    background: linear-gradient(45deg, #F48430, #FB6D45);
    padding: 8px 11px;
    border-radius: 4px;
    color: #fff !important;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}



.navs {
    display: flex;
    justify-content: center;
  
}


.course-ratings div span {
    font-size: 15px !important;
    color: #fff;
    align-items: center;
    color: #4c4c4c !important;
    transition: all .5s ease;
    font-size: 12px;
    font-weight: 500;
    padding: 18px 9px;
    margin-right: 26px;
    text-decoration: none !important;
    margin: -17px 1px -2px -6px;
}



    /* .course-ratings div span {
   font-size: 10px !important;
   color: #fff;
     align-items: center;
    color: #4c4c4c !important;
    transition: all .5s ease;
    font-size: 12px;
    font-weight: 500;
    padding: 20px 7px;
    margin-right: 26px;
    text-decoration: none !important
} */



@media (max-width: 320px){

    .course-google-rating {
        margin-right: 4px !important;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
      }

      .course-ratings div span {
        font-size: 10px !important;
        color: #fff;
        margin: -1rem 0px -25px -12px;
    }

}








